.staff {
  padding: 1em;
  border: 1px dashed springgreen;
}

.staff img {
  width: 120px;
  height: 120px;

}

div > p > a {
  text-decoration: underline;
  color: springgreen;
}

figure.picture {
  vertical-align: top;
  display: inline-block;
  width: 200px;

  position: relative;

  text-align: center;
}

figcaption.imagecap {
  display: block;
}

figure > a {
  color: white;
  text-decoration: none;
}

.centered h2 {
  margin-bottom: 10px;
}

.hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 0;

  width: 120px;
  height: 120px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

figure.picture:hover .hover {
  opacity: 0.65;
}

.hover #text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 30%;
  left: 0;
}
