footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;

  text-align: center;

  height: 60px;

  overflow: hidden;
  border-top: 1px solid gray;
}

/* Icons? */
footer > div > a {
  text-decoration: none;
  color: springgreen;

  padding-left: 5px;
  padding-right: 5px;
}
