@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  background-image: url('../images/background.png');
  color: white;
  font-family: 'Roboto', sans-serif;

  text-align: center;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/loading.gif') 50% 50% no-repeat rgb(0,0,0);
}

.centered {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 50em;

  overflow: hidden;
}

#boxed {
  border: 1px solid gray;
}

.centered p {
  font-size: 22px;
}

#left {
  float: left;
  text-align: left;
}

#right {
  text-align: center;
  float: right;

  width: 20em;
  font-size: 22px;
}

div .spoiler {
  position: relative;
}

.spoiler > span#title {
  color: springgreen;

  display: block;
}

.spoiler > span#title:hover {
  color: darkgreen;
  cursor: pointer;
}

.spoiler > span#content {
  border: 1px solid aqua;
}
