@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  background-image: url('../images/background.png');
  color: white;
  font-family: 'Roboto', sans-serif;

  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 50em;

  overflow: hidden;

  border: 1px solid gray;
}

#left {
  float: left;
  text-align: left;
}

#right {
  text-align: center;
  float: right;

  width: 20em;
  font-size: 22px;
}
