#gimage {
  width: 100%;
  height: 10em;
}

.centered h2 {
  margin-bottom: 2px;
}

#info {
  text-align: center;

  width: 40%;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
}

#date {
  padding-left: 10px;
}

#author {
  padding-right: 10px;
}

#author a {
  text-decoration: none;
  color: aqua;
}

#author a:hover {
  color: blue;
}

#review {
  margin-top: 20px;
  padding: 10px;

  overflow: hidden;
  word-wrap: break-word;

  border: 1px gray solid;
}

.prco {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding: 2em;
}

.prco h4 {
  padding: 0;
  margin: 0;
}


.prco #pros {
  width: 50%;

  border-right: 1px solid gray;

  float: left;
  text-align: center;
}

.prco #cons {
  width: 50%

  float: right;
  text-align: center;
}
