.slides {
  position: relative;
  list-style-type: none;

  margin: 0;

  height: 350px;
}

.slide {
  position: absolute;

  top: 0;
  left: 0;

  opacity: 0;
  z-index: 1;

  transition: opacity 1s;
}

.slides > a {
  position: relative;
  z-index: 3;
  display: block;

  text-decoration: none;

  margin-top: -20%;
  margin-left: -50%;
  color: red;
  font-size: 12px;
}

.current {
  opacity: 1;
  z-index: 2;
}
